<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ras.bandostockproject.mapper.DataMapper">

    <select id="getYearDataListSell" resultType="com.ras.bandostockproject.dto.SellDataByYearDTO">
        SELECT
            SUM(CASE WHEN MONTH(sellDate) = 1 THEN sellPrice ELSE 0 END) AS SellSumByJan,
            SUM(CASE WHEN MONTH(sellDate) = 1 THEN 1 ELSE 0 END) AS SellCountByJan,
            SUM(CASE WHEN MONTH(sellDate) = 2 THEN sellPrice ELSE 0 END) AS SellSumByFeb,
            SUM(CASE WHEN MONTH(sellDate) = 2 THEN 1 ELSE 0 END) AS SellCountByFeb,
            SUM(CASE WHEN MONTH(sellDate) = 3 THEN sellPrice ELSE 0 END) AS SellSumByMar,
            SUM(CASE WHEN MONTH(sellDate) = 3 THEN 1 ELSE 0 END) AS SellCountByMar,
            SUM(CASE WHEN MONTH(sellDate) = 4 THEN sellPrice ELSE 0 END) AS SellSumByApr,
            SUM(CASE WHEN MONTH(sellDate) = 4 THEN 1 ELSE 0 END) AS SellCountByApr,
            SUM(CASE WHEN MONTH(sellDate) = 5 THEN sellPrice ELSE 0 END) AS SellSumByMay,
            SUM(CASE WHEN MONTH(sellDate) = 5 THEN 1 ELSE 0 END) AS SellCountByMay,
            SUM(CASE WHEN MONTH(sellDate) = 6 THEN sellPrice ELSE 0 END) AS SellSumByJun,
            SUM(CASE WHEN MONTH(sellDate) = 6 THEN 1 ELSE 0 END) AS SellCountByJun,
            SUM(CASE WHEN MONTH(sellDate) = 7 THEN sellPrice ELSE 0 END) AS SellSumByJul,
            SUM(CASE WHEN MONTH(sellDate) = 7 THEN 1 ELSE 0 END) AS SellCountByJul,
            SUM(CASE WHEN MONTH(sellDate) = 8 THEN sellPrice ELSE 0 END) AS SellSumByAug,
            SUM(CASE WHEN MONTH(sellDate) = 8 THEN 1 ELSE 0 END) AS SellCountByAug,
            SUM(CASE WHEN MONTH(sellDate) = 9 THEN sellPrice ELSE 0 END) AS SellSumBySep,
            SUM(CASE WHEN MONTH(sellDate) = 9 THEN 1 ELSE 0 END) AS SellCountBySep,
            SUM(CASE WHEN MONTH(sellDate) = 10 THEN sellPrice ELSE 0 END) AS SellSumByOct,
            SUM(CASE WHEN MONTH(sellDate) = 10 THEN 1 ELSE 0 END) AS SellCountByOct,
            SUM(CASE WHEN MONTH(sellDate) = 11 THEN sellPrice ELSE 0 END) AS SellSumByNov,
            SUM(CASE WHEN MONTH(sellDate) = 11 THEN 1 ELSE 0 END) AS SellCountByNov,
            SUM(CASE WHEN MONTH(sellDate) = 12 THEN sellPrice ELSE 0 END) AS SellSumByDec,
            SUM(CASE WHEN MONTH(sellDate) = 12 THEN 1 ELSE 0 END) AS SellCountByDec
        FROM
            SELL_TABLE
        WHERE
            YEAR(sellDate) = #{yearData};
    </select>

    <select id="getYearDataListByPur" resultType="com.ras.bandostockproject.dto.PurchaseDataByYearDTO">
        SELECT
            SUM(CASE WHEN MONTH(purchaseDate) = 1 THEN purchasePrice ELSE 0 END) AS PurchaseSumByJan,
            COUNT(CASE WHEN MONTH(purchaseDate) = 1 THEN 1 END) AS PurchaseCountByJan,
            SUM(CASE WHEN MONTH(purchaseDate) = 2 THEN purchasePrice ELSE 0 END) AS PurchaseSumByFeb,
            COUNT(CASE WHEN MONTH(purchaseDate) = 2 THEN 1 END) AS PurchaseCountByFeb,
            SUM(CASE WHEN MONTH(purchaseDate) = 3 THEN purchasePrice ELSE 0 END) AS PurchaseSumByMar,
            COUNT(CASE WHEN MONTH(purchaseDate) = 3 THEN 1 END) AS PurchaseCountByMar,
            SUM(CASE WHEN MONTH(purchaseDate) = 4 THEN purchasePrice ELSE 0 END) AS PurchaseSumByApr,
            COUNT(CASE WHEN MONTH(purchaseDate) = 4 THEN 1 END) AS PurchaseCountByApr,
            SUM(CASE WHEN MONTH(purchaseDate) = 5 THEN purchasePrice ELSE 0 END) AS PurchaseSumByMay,
            COUNT(CASE WHEN MONTH(purchaseDate) = 5 THEN 1 END) AS PurchaseCountByMay,
            SUM(CASE WHEN MONTH(purchaseDate) = 6 THEN purchasePrice ELSE 0 END) AS PurchaseSumByJun,
            COUNT(CASE WHEN MONTH(purchaseDate) = 6 THEN 1 END) AS PurchaseCountByJun,
            SUM(CASE WHEN MONTH(purchaseDate) = 7 THEN purchasePrice ELSE 0 END) AS PurchaseSumByJul,
            COUNT(CASE WHEN MONTH(purchaseDate) = 7 THEN 1 END) AS PurchaseCountByJul,
            SUM(CASE WHEN MONTH(purchaseDate) = 8 THEN purchasePrice ELSE 0 END) AS PurchaseSumByAug,
            COUNT(CASE WHEN MONTH(purchaseDate) = 8 THEN 1 END) AS PurchaseCountByAug,
            SUM(CASE WHEN MONTH(purchaseDate) = 9 THEN purchasePrice ELSE 0 END) AS PurchaseSumBySep,
            COUNT(CASE WHEN MONTH(purchaseDate) = 9 THEN 1 END) AS PurchaseCountBySep,
            SUM(CASE WHEN MONTH(purchaseDate) = 10 THEN purchasePrice ELSE 0 END) AS PurchaseSumByOct,
            COUNT(CASE WHEN MONTH(purchaseDate) = 10 THEN 1 END) AS PurchaseCountByOct,
            SUM(CASE WHEN MONTH(purchaseDate) = 11 THEN purchasePrice ELSE 0 END) AS PurchaseSumByNov,
            COUNT(CASE WHEN MONTH(purchaseDate) = 11 THEN 1 END) AS PurchaseCountByNov,
            SUM(CASE WHEN MONTH(purchaseDate) = 12 THEN purchasePrice ELSE 0 END) AS PurchaseSumByDec,
            COUNT(CASE WHEN MONTH(purchaseDate) = 12 THEN 1 END) AS PurchaseCountByDec
        FROM PURCHASE_TABLE
        WHERE YEAR(purchaseDate) = #{yearData};
    </select>


    <select id="getPnlData" resultType="com.ras.bandostockproject.dto.PNLRatioDTO">
        SELECT
            (SELECT SUM(purchasePrice) FROM PURCHASE_TABLE WHERE YEAR(purchaseDate) = #{yearData} AND MONTH(purchaseDate) = #{monthData}) AS AllSumPce,
            (SELECT SUM(sellPrice) FROM SELL_TABLE WHERE YEAR(sellDate) = #{yearData} AND MONTH(sellDate) = #{monthData}) AS AllSumSce;
    </select>

    <select id="getPreRecivingData" resultType="com.ras.bandostockproject.dto.PrereceivingRatioDTO">
        SELECT
            SUM(CASE WHEN preReceiving = 0 THEN 1 ELSE 0 END) AS pRequallZeroCount,
            SUM(CASE WHEN preReceiving = 0 THEN sellPrice ELSE 0 END) AS sellSumPceZero,
            SUM(CASE WHEN preReceiving = 1 THEN 1 ELSE 0 END) AS pRequallOneCount,
            SUM(CASE WHEN preReceiving = 1 THEN sellPrice ELSE 0 END) AS sellSumPceOne
        FROM
            SELL_TABLE
        WHERE
            YEAR(sellDate) = #{yearData}
          AND MONTH(sellDate) = #{monthData};
    </select>

    <select id="getAllPurchaseSumByMonth" resultType="com.ras.bandostockproject.dto.MainStockDataDTO">
        SELECT SUM(purchasePrice) AS SumPurchaseByMonth
        FROM PURCHASE_TABLE
        WHERE
            YEAR(purchaseDate) = YEAR(CURRENT_DATE())
          AND MONTH(purchaseDate) = MONTH(CURRENT_DATE());
    </select>

    <select id="getAllSellSumByMonth" resultType="com.ras.bandostockproject.dto.MainStockDataDTO">
        SELECT SUM(sellPrice) AS SumSellByMonth
        FROM SELL_TABLE
        WHERE
            YEAR(sellDate) = YEAR(CURRENT_DATE())
          AND MONTH(sellDate) = MONTH(CURRENT_DATE());
    </select>

    <select id="getAllSellPNLByMonth" resultType="com.ras.bandostockproject.dto.MainStockDataDTO">
        SELECT
            SUM(ResultTotal) AS TotalResult
        FROM
            (SELECT
                 (sellEaprice * sellQuantity) AS MutipleSellPrice,
                 (purchaseEaprice * sellQuantity) AS MutiplePurchasePrice,
                 ((sellEaprice * sellQuantity) - (purchaseEaprice * sellQuantity)) AS ResultTotal
             FROM
                 SELL_TABLE
                     JOIN
                 PURCHASE_TABLE ON SELL_TABLE.purchasePDTNUM = PURCHASE_TABLE.purchasePDTNUM
             WHERE
                 YEAR(sellDate) = YEAR(CURRENT_DATE())
               AND MONTH(sellDate) = MONTH(CURRENT_DATE())) AS SubQuery;
    </select>

    <select id="getAllSellPrecByMonth" resultType="com.ras.bandostockproject.dto.MainStockDataDTO">
        SELECT COUNT(*) AS TotalPreReciving
        FROM SELL_TABLE
        WHERE preReceiving = 1
            AND MONTH(sellDate) = MONTH(CURRENT_DATE())
          AND YEAR(sellDate) = YEAR(CURRENT_DATE());
    </select>

    <select id="getAllPurCountByMonth" resultType="com.ras.bandostockproject.dto.MainStockCountByMonthDTO">
        SELECT
            SUM(IF(MONTH(purchaseDate) = 1, 1, 0)) AS PurchaseTotalByJan,
            SUM(IF(MONTH(purchaseDate) = 2, 1, 0)) AS PurchaseTotalByFeb,
            SUM(IF(MONTH(purchaseDate) = 3, 1, 0)) AS PurchaseTotalByMar,
            SUM(IF(MONTH(purchaseDate) = 4, 1, 0)) AS PurchaseTotalByApr,
            SUM(IF(MONTH(purchaseDate) = 5, 1, 0)) AS PurchaseTotalByMay,
            SUM(IF(MONTH(purchaseDate) = 6, 1, 0)) AS PurchaseTotalByJun,
            SUM(IF(MONTH(purchaseDate) = 7, 1, 0)) AS PurchaseTotalByJul,
            SUM(IF(MONTH(purchaseDate) = 8, 1, 0)) AS PurchaseTotalByAug,
            SUM(IF(MONTH(purchaseDate) = 9, 1, 0)) AS PurchaseTotalBySep,
            SUM(IF(MONTH(purchaseDate) = 10, 1, 0)) AS PurchaseTotalByOct,
            SUM(IF(MONTH(purchaseDate) = 11, 1, 0)) AS PurchaseTotalByNov,
            SUM(IF(MONTH(purchaseDate) = 12, 1, 0)) AS PurchaseTotalByDec
        FROM
            PURCHASE_TABLE;
    </select>

    <select id="getAllSellCountByMonth" resultType="com.ras.bandostockproject.dto.MainStockCountByMonthDTO">
        SELECT
            SUM(IF(MONTH(sellDate) = 1, 1, 0)) AS SellTotalByJan,
            SUM(IF(MONTH(sellDate) = 2, 1, 0)) AS SellTotalByFeb,
            SUM(IF(MONTH(sellDate) = 3, 1, 0)) AS SellTotalByMar,
            SUM(IF(MONTH(sellDate) = 4, 1, 0)) AS SellTotalByApr,
            SUM(IF(MONTH(sellDate) = 5, 1, 0)) AS SellTotalByMay,
            SUM(IF(MONTH(sellDate) = 6, 1, 0)) AS SellTotalByJun,
            SUM(IF(MONTH(sellDate) = 7, 1, 0)) AS SellTotalByJul,
            SUM(IF(MONTH(sellDate) = 8, 1, 0)) AS SellTotalByAug,
            SUM(IF(MONTH(sellDate) = 9, 1, 0)) AS SellTotalBySep,
            SUM(IF(MONTH(sellDate) = 10, 1, 0)) AS SellTotalByOct,
            SUM(IF(MONTH(sellDate) = 11, 1, 0)) AS SellTotalByNov,
            SUM(IF(MONTH(sellDate) = 12, 1, 0)) AS SellTotalByDec
        FROM
            SELL_TABLE;
    </select>

    <select id="getAllPrecivCountByMonth" resultType="com.ras.bandostockproject.dto.MainStockCountByMonthDTO">
        SELECT
            SUM(IF(MONTH(sellDate) = 1 AND preReceiving = 1, 1, 0)) AS PreTotalByJan,
            SUM(IF(MONTH(sellDate) = 2 AND preReceiving = 1, 1, 0)) AS PreTotalByFeb,
            SUM(IF(MONTH(sellDate) = 3 AND preReceiving = 1, 1, 0)) AS PreTotalByMar,
            SUM(IF(MONTH(sellDate) = 4 AND preReceiving = 1, 1, 0)) AS PreTotalByApr,
            SUM(IF(MONTH(sellDate) = 5 AND preReceiving = 1, 1, 0)) AS PreTotalByMay,
            SUM(IF(MONTH(sellDate) = 6 AND preReceiving = 1, 1, 0)) AS PreTotalByJun,
            SUM(IF(MONTH(sellDate) = 7 AND preReceiving = 1, 1, 0)) AS PreTotalByJul,
            SUM(IF(MONTH(sellDate) = 8 AND preReceiving = 1, 1, 0)) AS PreTotalByAug,
            SUM(IF(MONTH(sellDate) = 9 AND preReceiving = 1, 1, 0)) AS PreTotalBySep,
            SUM(IF(MONTH(sellDate) = 10 AND preReceiving = 1, 1, 0)) AS PreTotalByOct,
            SUM(IF(MONTH(sellDate) = 11 AND preReceiving = 1, 1, 0)) AS PreTotalByNov,
            SUM(IF(MONTH(sellDate) = 12 AND preReceiving = 1, 1, 0)) AS PreTotalByDec
        FROM
            SELL_TABLE;
    </select>

</mapper>
