<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ras.bandostockproject.mapper.InventoryMapper">
    <select id="selectGeometry" resultType="com.ras.bandostockproject.dto.inventory.GeoJSON">
        select ST_AsGeoJSON(Rectangle) as Rectangle from geometry
        where idGeometry = 1
    </select>

    <select id="selectSellingGeometry" resultType="com.ras.bandostockproject.dto.inventory.SellingGeoJSON">
        select ST_AsGeoJSON(Rectangle) as Rectangle from selling
        where originId = 1
    </select>

    <!-- 파라미터 : 좌표, 부모id, 실적 or 손실 표시 -->
    <insert id="insertSellingGeometry">
        INSERT INTO selling (Rectangle, originId, isLoss)
        VALUES(ST_GeomFromText('POLYGON(${rectangle})'), #{originId}, 0)
    </insert>

    <insert id="insertLossGeometry">
        INSERT INTO selling (Rectangle, originId, isLoss)
        VALUES(ST_GeomFromText('POLYGON(${rectangle})'), #{originId}, 1)
    </insert>

    <!-- 파라미터 : 좌표 -->
    <insert id="insertGeometry">
        INSERT INTO geometry (Rectangle)
        VALUES(ST_GeomFromText('POLYGON(${rectangle})'))
    </insert>


</mapper>
