<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ras.bandostockproject.mapper.InventoryMapper">
    <select id="selectGeometry" resultType="com.ras.bandostockproject.dto.inventory.GeoJSON">
        select ST_AsGeoJSON(Rectangle) as Rectangle from geometry
        where idGeometry = 1
    </select>

    <select id="selectSellingGeometry" resultType="com.ras.bandostockproject.dto.inventory.SellingGeoJSON">
        select ST_AsGeoJSON(Rectangle) as Rectangle from selling
        where originId = 1
    </select>

    <!-- 판매 재고 데이터 추가 -->
    <insert id="insertSellingGeometry">
        INSERT INTO selling (Rectangle, originId, isLoss, moneyAdvantage)
        VALUES(ST_GeomFromText('POLYGON(${rectangle})'), #{originId}, 0, #{moneyAdvantage})
    </insert>


    <!-- 원본 재고 생성 -->
    <insert id="insertGeometry">
        INSERT INTO geometry (Rectangle)
        VALUES(ST_GeomFromText('POLYGON(${rectangle})'))
    </insert>

    <!-- 원본 재고 id List 불러오기 -->
    <select id="selectInventoryIdList" resultType="int">
        select idGeometry from geometry
    </select>

    <!-- 원본 재고에 손익 업데이트 -->
    <update id="updateMoneyAdvantage">
        UPDATE geometry
        SET profit = profit + #{moneyAdvantage}
        WHERE idGeometry = #{originId}
    </update>

    <!-- 폐기 처리 데이터 추가 -->
    <insert id="insertLossGeometry">
        INSERT INTO selling (Rectangle, originId, isLoss, moneyLoss)
        VALUES(ST_GeomFromText('POLYGON(${rectangle})'), #{originId}, 1, #{moneyLoss})
    </insert>

    <!-- 원본 재고에 손실 업데이트 -->
    <update id="updateMoneyLoss">
        UPDATE geometry
        SET loss = loss + #{moneyLoss}
        WHERE idGeometry = #{originId}
    </update>

    <update id="insertGeometry">
        UPDATE INTO geometry (availableSpace)
        VALUES(ST_GeomFromText('POLYGON(${rectangle})'))
    </update>





</mapper>
